# import packages

numpy  and   pandas

In [20]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pa
import zipfile

In [16]:
pd.read_parquet('away_team_12260075.parquet', engine='pyarrow')

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"

In [38]:
import zipfile
a = 20240501
with zipfile.ZipFile(f'{a}.zip', 'r') as zip_ref:
    zip_ref.extractall()
pd.read_parquet('data/raw/raw_match_parquet/away_team_12260075.parquet', engine='pyarrow')

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"