# import packages

numpy  and   pandas

In [1]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pa
import zipfile
import glob
import os

In [16]:
pd.read_parquet('away_team_12260075.parquet', engine='pyarrow')

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"

In [46]:
import zipfile
a = 20240501
b = 12260075
with zipfile.ZipFile(f'{a}.zip', 'r') as zip_ref:
    zip_ref.extractall(f"{a}")
pd.read_parquet(f'{a}/data/raw/raw_match_parquet/away_team_{b}.parquet', engine='pyarrow')

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"

In [45]:
a = 20240501
b = 12260075
pd.read_parquet(f'{a}/data/raw/raw_match_parquet/away_team_{b}.parquet', engine='pyarrow')

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"

In [ ]:
a[1], a[2]=

In [17]:
path = "C:/Users/user/Desktop/python/practice"

dris = os.listdir(path)

dris

['.git',
 '20240501.zip',
 '20240502.zip',
 '20240503.zip',
 '20240504.zip',
 'away_team_12260075.parquet',
 'file_zip.ipynb',
 'practice']

In [42]:
a=dris[1:5]
b=a
b=pd.Series(a)
b=b.replace(to_replace=r'.zip', value='', regex=True)
print(a)
print(b)

['20240501.zip', '20240502.zip', '20240503.zip', '20240504.zip']
0    20240501
1    20240502
2    20240503
3    20240504
dtype: object

In [22]:
a=dris[1:5]

for i in a:
     print(i)
     with zipfile.ZipFile(f'{a[i]}', 'r') as zip_ref:
          zip_ref.extractall(f"{b[i]}")
     j+=1

20240501.zip
20240502.zip
20240503.zip
20240504.zip

In [27]:
folder = 'D:/DATA_Analayses/Project/TennisGame/data/raw/202405'
extension = ".zip"

os.chdir(folder) 

for item in os.listdir(folder): 
    if item.endswith(extension): 
        file_name = os.path.abspath(item) 
        zip_ref = zipfile.ZipFile(item) 
        zip_ref.extractall(folder)

In [30]:
pd.read_parquet("D:/DATA_Analayses/Project/TennisGame/data/raw/202405/data/raw/raw_match_parquet/event_12346542.parquet", engine='pyarrow')

,match_id,first_to_serve,home_team_seed,away_team_seed,custom_id,winner_code,default_period_count,start_datetime,match_slug,final_result_only
0,12346542,None,None,None,jlIjsvBrd,1,3,1716183900,finkelstein-mares,True

In [8]:
path = "C:/Users/user/Desktop/python/practice/1/data/raw/raw_match_parquet"
dris = os.listdir(path)
series_list = pd.Series(dris).replace(r'.parquet', value='', regex=True)
series_list

0       away_team_12260075
1       away_team_12260076
2       away_team_12260077
3       away_team_12260078
4       away_team_12260080
               ...
5735        venue_12298541
5736        venue_12298630
5737        venue_12298718
5738        venue_12298767
5739        venue_12298791
Length: 5740, dtype: object