# import packages

numpy  and   pandas

In [1]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pa
import zipfile
import glob
import os

In [16]:
pd.read_parquet('away_team_12260075.parquet', engine='pyarrow')

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"

In [46]:
import zipfile
a = 20240501
b = 12260075
with zipfile.ZipFile(f'{a}.zip', 'r') as zip_ref:
    zip_ref.extractall(f"{a}")
pd.read_parquet(f'{a}/data/raw/raw_match_parquet/away_team_{b}.parquet', engine='pyarrow')

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"

In [45]:
a = 20240501
b = 12260075
pd.read_parquet(f'{a}/data/raw/raw_match_parquet/away_team_{b}.parquet', engine='pyarrow')

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"

In [ ]:
a[1], a[2]=

In [17]:
path = "C:/Users/user/Desktop/python/practice"

dris = os.listdir(path)

dris

['.git',
 '20240501.zip',
 '20240502.zip',
 '20240503.zip',
 '20240504.zip',
 'away_team_12260075.parquet',
 'file_zip.ipynb',
 'practice']

In [42]:
a=dris[1:5]
b=a
b=pd.Series(a)
b=b.replace(to_replace=r'.zip', value='', regex=True)
print(a)
print(b)

['20240501.zip', '20240502.zip', '20240503.zip', '20240504.zip']
0    20240501
1    20240502
2    20240503
3    20240504
dtype: object

In [22]:
a=dris[1:5]

for i in a:
     print(i)
     with zipfile.ZipFile(f'{a[i]}', 'r') as zip_ref:
          zip_ref.extractall(f"{b[i]}")
     j+=1

20240501.zip
20240502.zip
20240503.zip
20240504.zip

In [27]:
folder = 'D:/DATA_Analayses/Project/TennisGame/data/raw/202405'
extension = ".zip"

os.chdir(folder) 

for item in os.listdir(folder): 
    if item.endswith(extension): 
        file_name = os.path.abspath(item) 
        zip_ref = zipfile.ZipFile(item) 
        zip_ref.extractall(folder)

In [30]:
pd.read_parquet("D:/DATA_Analayses/Project/TennisGame/data/raw/202405/data/raw/raw_match_parquet/event_12346542.parquet", engine='pyarrow')

,match_id,first_to_serve,home_team_seed,away_team_seed,custom_id,winner_code,default_period_count,start_datetime,match_slug,final_result_only
0,12346542,None,None,None,jlIjsvBrd,1,3,1716183900,finkelstein-mares,True

In [26]:
away_team = pd.DataFrame()
value1 = pd.read_parquet('C:/Users/user/Desktop/python/practice/1/data/raw/raw_match_parquet/away_team_12260075.parquet', engine='pyarrow')
value2 = pd.read_parquet('C:/Users/user/Desktop/python/practice/1/data/raw/raw_match_parquet/away_team_12260076.parquet', engine='pyarrow')

away_team = pd.concat([away_team, value1])
away_team = pd.concat([away_team, value2])
away_team

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"
0,12260076,Khachanov K.,khachanov-karen,M,14411,"Dubai, UAE","Moscow, Russia",1.98,87,right-handed,2013,877460,13580818,90080,18,KHA,Russia,"Khachanov, Karen"

In [41]:
path = "C:/Users/user/Desktop/python/practice/1/data/raw/raw_match_parquet"
dris = os.listdir(path)
series_list = pd.Series(dris)
b = series_list[series_list.str.startswith("away_team_1")]
b.size

518

In [40]:
path = "C:/Users/user/Desktop/python/practice/1/data/raw/raw_match_parquet"
dris = os.listdir(path)
series_list = pd.Series(dris)
b = series_list[series_list.str.startswith("away_team_1")]
away_team = pd.DataFrame()
for i in range(b.size):
    value = pd.read_parquet(f'C:/Users/user/Desktop/python/practice/1/data/raw/raw_match_parquet/{b[i]}', engine='pyarrow')
    away_team = pd.concat([away_team, value])

away_team

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])
C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_13740\1167717149.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  away_team = pd.concat([away_team, value])

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"
0,12260076,Khachanov K.,khachanov-karen,M,14411,"Dubai, UAE","Moscow, Russia",1.98,87,right-handed,2013,877460,13580818,90080,18,KHA,Russia,"Khachanov, Karen"
0,12260077,Alcaraz C.,alcaraz-carlos,M,141553,"El Palmar, Murcia, Spain","El Palmar, Murcia, Spain",1.83,68,right-handed,2018,1590518,24112308,275923,3,ALC,Spain,"Alcaraz, Carlos"
0,12260078,Alcaraz C.,alcaraz-carlos,M,141553,"El Palmar, Murcia, Spain","El Palmar, Murcia, Spain",1.83,68,right-handed,2018,1590518,24112308,275923,3,ALC,Spain,"Alcaraz, Carlos"
0,12260080,Zverev A.,zverev-alexander,M,60430,"Monte Carlo, Monaco","Hamburg, Germany",1.98,90,right-handed,2013,2676831,34897595,57163,4,ZVE,Germany,"Zverev, Alexander"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12298452,Saraiva dos Santos P.,saraiva-dos-santos-paulo-andre,M,269,None,Brasilia,1.80,None,None,None,3342,23307,272506,852,SAR,Brazil,"Saraiva dos Santos, Paulo André"
0,12298457,Skoog I.,skoog-isabel,F,74,None,None,NaN,None,None,None,999,1122,463773,1307,SKO,Sweden,"Skoog, Isabel"
0,12298630,McHugh A.,mchugh-aidan,M,660,"Glasgow, Scotland","Glasgow, Scotland",1.80,70,right-handed,None,8008,163130,220541,342,MCH,United Kingdom,"Mchugh, Aidan"
0,12298718,Pursoo A.,pursoo-ariana,F,43,None,None,NaN,None,None,None,885,1266,391908,1164,ANP,USA,"Pursoo, Ariana"
0,12298767,Crossley M.,crossley-mayu,F,91,None,None,NaN,None,None,None,2014,2975,450750,895,CRO,Japan,"Crossley, Mayu"